<% include ../partials/header %> 
<html lang="en">
<head>
  <title>about</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
   <style>
  .bg-1 { 
    color: white; 
    
  }
  .container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

#heading h1, h2 { display: inline;
      font-size:2em;
    
}
body{
	background: url(https://cdn.pixabay.com/photo/2017/10/27/15/12/geeks-2894621__340.jpg);
	background-size: cover;
	background-position: center;
	font: 20px "Montserrat", sans-serif;
	color:white;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
  </style>
</head>
<body>
<div class="container-fluid bg-1 text-center">
  <img src="https://pbs.twimg.com/profile_images/1098162936206356482/KKhD6IXs.jpg" class="img-circle"  alt="Ajay">
  <h1>Devloped By</h1> 
  <h2>Ajay Gowda</h2>
</div>
<div class="container-fluid bg-2 text-center">
  <h2>Web Devloper</h2>
  <h4>Hyper passionated towards web design and development...!</h4>
</div>
<footer class="container-fluid bg-4 text-center">
  <a href="https://www.linkedin.com/in/ajay-gowda-52063114b" class="fa fa-linkedin-square " style="font-size:5em; color:black;" href=""></a>
  <a href="https://instagram.com/ajay_gowda__?utm_source=ig_profile_share&igshid=12qrwncpqdnmy" class="fa fa-instagram" style="font-size:5em; color:pink;" href=""></a>
  <a href="https://github.com/AjayGowda7/" class="fa fa-github"  style="font-size:5em; color:black;" href=""></a>
  <a href=" https://twitter.com/AjayGowda7777?s=09" class="fa fa-twitter" style="font-size:5em;" href=""></a>
</footer>
</body>
</html>

