<% include ../partials/header %> 
    <div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Inauguration</h4>
					<img src="https://img.freepik.com/free-vector/celebration-background-with-red-ribbon_23-2147667801.jpg?size=338&ext=jpg" class="img-thumbnail">
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">2:30-4:00PM</h4>
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Antakshari</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/antaskri.png?alt=media&token=0de3e53b-6aef-488e-aa49-1cc2766c9636" class="img-thumbnail">
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">4-5:00PM</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Result:</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Hindi Antakshari:</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">1.Elegant Egyptians</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">2.Vigorous Vikings</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Result:</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Kannada Antakshari:</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">1.Shielding Spartans</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">2.Elegant Egyptians</h4>
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Love letter Writing</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/Love%20letter%20Writing.png?alt=media&token=cd0fd2f2-e89e-4472-8af2-e45ef447f87a" class="img-thumbnail">
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Result(Kannada):</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">1.Vigorous Vikings</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">2.Elegant Egyptians</h4>
			    	<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Result(English):</h4>
			    	<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">1.Shielding Spartans</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">2.Vigorous Vikings</h4>
					
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Essay Writing</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/Essay%20Writing.jpg?alt=media&token=b960228c-683b-4564-9a03-4fd2422a30d2" class="img-thumbnail">
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Result(English):</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">1.Shielding Spartans</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">2.Radiant Romans</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Result(Hindi):</h4>		
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">1.Shielding Spartans</h4>
							<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">2.Vigorous Vikings</h4>
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">Poetry on Spot</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/Poetry%20on%20spot.png?alt=media&token=5cb2e7a6-3232-4d50-8f3d-1b5f48c1161f" class="img-thumbnail">
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">5-6:00PM</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Result:Yet to be annonoced</h4>
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Basketball(Girls)</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/images.jpg?alt=media&token=462eb1f8-d2d8-450b-9e04-af7aa5cddf74" class="img-thumbnail">
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">Result:</h4>
					<h4 style="text-align:center; color:black;font-family: 'Averia Serif Libre', cursive;font-size:25px;">1.Shielding Spartans</h4>
						<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">2.Radiant Romans</h4>
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Basketball(Boys)</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/images.jpg?alt=media&token=462eb1f8-d2d8-450b-9e04-af7aa5cddf74" class="img-thumbnail">
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">Result:</h4>
					<h4 style="text-align:center; color:black;font-family: 'Averia Serif Libre', cursive;font-size:25px;">1.Vigorous Vikings </h4>
						<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">2.Elegant Egyptians</h4>
				</div>
				</div>
		</div>
		
<% include ../partials/footer %>