<% include ../partials/header %> 
    <div class="row">
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Cricket</h4>
					<img src="https://cdn5.vectorstock.com/i/1000x1000/56/84/abstract-cricket-background-vector-4585684.jpg" class="img-thumbnail">
						<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Result:</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">1.Shielding Spartans</h4>
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Best out of Waste</h4>
					<img src="https://www.cleanlink.com/resources/editorial/2018/zero-waste-23231.png" class="img-thumbnail">
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Result:</h4>
						<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">1.Elegant Egyptians</h4>
							<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">2.Radiant Romans</h4>
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Origami</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/origami.jpg?alt=media&token=2f06a286-81da-439e-b1a4-0ec3d33147dc" class="img-thumbnail">
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Result:</h4>
						<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">1.Vigorous Vikings</h4>
							<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">2.Elegant Egyptians</h4>
				</div>
				</div>
		
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Collage</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/collage.jpg?alt=media&token=a4e88292-66aa-4567-a6f7-08e3af31b0f1" class="img-thumbnail">
			<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">Result:</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">Sports:Elegant Egyptians</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">Elections:Vigorous Vikings</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">Transport:Vigorous Vikings</h4>
				</div>
				</div>
				</div>	<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Rangoli</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/Rangoli.jpg?alt=media&token=aeb7410e-8b25-4634-8bc8-2ea6551296d2" class="img-thumbnail">
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">Result:</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">1.Elegant Egyptians</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">2.Vigorous Vikings</h4>
				</div>
				</div>
				</div>	
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Doodle</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/Doodle.png?alt=media&token=2f2357e1-f3f9-4acd-9410-3d415b8b8bcb" class="img-thumbnail">
						<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">3-4PM</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">Result</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">1.Radiant Romans</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">2.Elegant Egyptians</h4>
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Mehendi</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/mehandi.jpg?alt=media&token=72149a99-7b3f-40f3-ada6-0b13c0e3d8f1" class="img-thumbnail">
						
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">Result</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">1.Shielding Spartans</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">2.Elegant Egyptians</h4>
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Sketching</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/Sketching.png?alt=media&token=334b7169-70bd-45e2-bdf6-b8121d4b1c75" class="img-thumbnail">
						
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">Result:</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">1.Elegant Egyptians</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">2.Shielding Spartans</h4>
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Clay Modeling</h4>
					<img src="https://us.123rf.com/450wm/morphart/morphart1507/morphart150702154/42026731-stock-vector-vector-illustration-of-hands-making-pottery-.jpg?ver=6" class="img-thumbnail">
						
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">Result:</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">1.Vigorous Vikings</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">2.Vigorous Vikings</h4>
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Greeting Card Making</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/greeting-card-templates-bow-preview.png?alt=media&token=39eee83a-f39d-48cc-a5c7-e95970552bbc" class="img-thumbnail">
					
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">Result:</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">1.Elegant Egyptians</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">2.Shielding Spartans</h4>
				</div>
				</div>
		</div>
		</div>
<% include ../partials/footer %>