<% include ../partials/header %> 
    <div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Volleyball</h4>
					<img src="https://s3.amazonaws.com/churchplantmedia-cms/metro_life_church_casselberry_fl/volleyball-club.jpg" class="img-thumbnail">
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Result:</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">1.Shielding Spartans</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">2.Radiant Romans</h4>
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Throwball</h4>
					<img src="https://cdn2.vectorstock.com/i/1000x1000/93/71/little-boy-ready-to-throw-ball-silhouette-vector-21909371.jpg" class="img-thumbnail">
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Result:</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">1.Shielding Spartans</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">2.Radiant Romans</h4>
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Football</h4>
					<img src="https://previews.123rf.com/images/ms10/ms101804/ms10180400006/98832119-european-football-player-shooting-ball-soccer-isolated-vector-silhouette.jpg" class="img-thumbnail">
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">4-30:6:00PM</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Result:</h4>
						<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">1.Elegant Egyptians</h4>
							<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">2.Shielding Spartans</h4>
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Programming</h4>
					<img src="https://comps.canstockphoto.com/vector-code-editor-icon-clip-art-vector_csp16223565.jpg" class="img-thumbnail">
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">4:30-6PM</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Result:</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">1.Elegant Egyptians</h4>
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">2.Vigorous Vikings</h4>
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Technical Crossword</h4>
					<img src="https://previews.123rf.com/images/lan04ka/lan04ka1606/lan04ka160600079/58649697-crossword-icon-vector-illustration-to-solve-crossword-puzzles-.jpg" class="img-thumbnail">
			
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Result:</h4>
							<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">1.Vigorous Vikings</h4>
									<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">2.Vigorous Vikings</h4>
				</div>
				</div>	
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Spell Bee</h4>
					<img src="https://bloximages.chicago2.vip.townnews.com/wcfcourier.com/content/tncms/assets/v3/editorial/3/d1/3d143c98-7ac5-11e3-8a76-001a4bcf887a/52d148bc08156.image.jpg" class="img-thumbnail">
				
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Result:</h4>
						<h4 style="text-align:center; color:black;font-family: 'Averia Serif Libre', cursive;font-size:25px;">1.Shielding Spartans</h4>	
						<h4 style="text-align:center; color:black;font-family: 'Averia Serif Libre', cursive;font-size:25px;">2.Elegant Egyptians</h4>
				</div>
				</div>
		
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Mad-Ads</h4>
					<img src="http://2.bp.blogspot.com/-SAqMv3yK4ZU/VrDUnE6_3PI/AAAAAAAAAGo/jjtWi-99irE/s1600/ad%2Bmad.jpg" class="img-thumbnail">
				
					<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Result:</h4>
						<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">1.Shielding Spartans</h4>
							<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">2.Radiant Romans</h4>
				</div>
				</div>
			
		</div>
<% include ../partials/footer %>