<% include ../partials/header %> 
    <div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Badminton</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/shuttle.png?alt=media&token=79f4528a-fbf3-476f-a2b8-abb50074549d" class="img-thumbnail">
				
				
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Volleyball(finals)</h4>
					<img src="https://s3.amazonaws.com/churchplantmedia-cms/metro_life_church_casselberry_fl/volleyball-club.jpg" class="img-thumbnail">
				
		
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Throwball</h4>
					<img src="https://cdn2.vectorstock.com/i/1000x1000/93/71/little-boy-ready-to-throw-ball-silhouette-vector-21909371.jpg" class="img-thumbnail">
				
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Script Writing</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/script.png?alt=media&token=52542531-c704-4d00-af7f-d39452bf3af2" class="img-thumbnail">
				
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Hate letter Writing</h4>
					<img src="https://image.shutterstock.com/z/stock-vector-hate-graffiti-53046961.jpg" class="img-thumbnail">
				
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Dumb charades</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/dumbcharades.png?alt=media&token=2d2abdb8-6692-49f2-b02e-67c4a3630c60" class="img-thumbnail">
			
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">story in bowl</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/Story%20in%20a%20bowl).png?alt=media&token=e30895a0-203a-4f9e-a5ef-50073a12e0d4" class="img-thumbnail">
				
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">irrevalent answers</h4>
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9s3iNJrVTqr3zhXbk2nPDtu4rVbrjVdXVSMH0hd83YivYM9nF" class="img-thumbnail">
					
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Street Play</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/stret.png?alt=media&token=132c2460-beff-4f0c-afed-8e2d21f46cac" class="img-thumbnail">
				
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre',cursive;font-size:25px;">Mime</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/mime.png?alt=media&token=11b84da9-b84a-439e-a6bc-7b4dcedd3c68" class="img-thumbnail">
				
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Rap Battle</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/rap.png?alt=media&token=d78dbbce-3319-44e3-9698-ab58604b47fd" class="img-thumbnail">
				
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Chess</h4>
					<img src="https://image.shutterstock.com/image-vector/set-chess-icon-sign-symbol-260nw-1237759345.jpg" class="img-thumbnail">

				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Rubics Cube</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/rubics.jpg?alt=media&token=e73c82a6-0b77-4619-98d6-3598e213a1f0" class="img-thumbnail">
				
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Sudoko</h4>
					<img src="https://previews.123rf.com/images/urfandadashov/urfandadashov1809/urfandadashov180902266/109316417-sudoku-vector-icon-isolated-on-transparent-background-sudoku-logo-concept.jpg" class="img-thumbnail">

				</div>
				</div>
				
		</div>
		</div>
<% include ../partials/footer %>