<% include ../partials/header %> 
    <div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Kho Kho</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/download.png?alt=media&token=f7c09423-fa83-41d0-a110-6bf323b118fa" class="img-thumbnail">
				
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive;font-size:25px;">Football</h4>
					<img src="https://previews.123rf.com/images/ms10/ms101804/ms10180400006/98832119-european-football-player-shooting-ball-soccer-isolated-vector-silhouette.jpg" class="img-thumbnail">
			
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Dodgeball</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/dodgeball.png?alt=media&token=04cd3d0b-2863-4a09-ab1a-c800155a92f3" class="img-thumbnail">
					
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Shabdakosh</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/Shabdkosh.jpg?alt=media&token=e5405c11-a92c-4f70-823e-957e25624835" class="img-thumbnail">
				
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Reverse Story Writing</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/Reverse%20story%20writing.jpg?alt=media&token=aa0b42e9-c27b-46af-ba26-05c917c70026" class="img-thumbnail">
			
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Wordsworth</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/Wordsworth.jpg?alt=media&token=e1f072ed-9a13-462d-99b8-4580d2641ce5" class="img-thumbnail">
			
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Group Discussion</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/group.png?alt=media&token=6a075230-64bc-4ebe-813d-82bb36f586c6" class="img-thumbnail">
			
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Stand up comedy</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/stand.png?alt=media&token=a8479f92-8620-4250-b50a-c0a3216444cc" class="img-thumbnail">
	
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Poetry in motion</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/Poetry%20in%20motion.png?alt=media&token=b390ef29-92d1-4f18-b117-c6b5f34563be" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Mock Rock</h4>
					<img src="https://thumbs.dreamstime.com/z/chalk-style-music-icons-set-children-s-toys-collection-vector-outline-vector-drum-pipe-flute-piano-keys-maracas-harmonica-69336485.jpg" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Arm Wrestling</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/Arm-Wrestling_Arm_Wrestling_competition_challenge_fighting_struggle-128.png?alt=media&token=489edc60-c58d-4bfe-9c90-b87c6d43a8da" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Nail Art</h4>
					<img src="https://st3.depositphotos.com/5823730/18080/v/1600/depositphotos_180801616-stock-illustration-nail-art-vector-illustration-lettering.jpg" class="img-thumbnail">
				</div>
				</div>
		</div>
		
<% include ../partials/footer %>