<% include ../partials/header %> 
    <div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Kho Kho</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/download.png?alt=media&token=f7c09423-fa83-41d0-a110-6bf323b118fa" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Badminton(finals)</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/shuttle.png?alt=media&token=79f4528a-fbf3-476f-a2b8-abb50074549d" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Pubg mobile</h4>
					<img src="https://image.freepik.com/free-vector/man-holding-mobile-game-playing-game_21521-13.jpg" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Press Report</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/Press%20report).png?alt=media&token=98f0c81c-9834-47d3-a2f8-81c0e378dc33" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Imagination</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/Imagination.jpg?alt=media&token=9d86e382-2318-41ca-8255-11e817e7915b" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Abacus</h4>
					<img src="https://cdn1.vectorstock.com/i/1000x1000/84/75/abacus-vector-1978475.jpg" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Fancy Dress</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/fancy.jpg?alt=media&token=4494c624-2fe0-434b-a65b-70b49b194053" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Instrumental</h4>
					<img src="https://cdn5.vectorstock.com/i/1000x1000/40/14/set-of-musical-instruments-vector-44014.jpg" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Qawaal-e-Raat</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/qawwal.png?alt=media&token=763b613e-5d6d-47e1-9af0-f7b8b6c44d0b" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Mehendi</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/mehandi.jpg?alt=media&token=72149a99-7b3f-40f3-ada6-0b13c0e3d8f1" class="img-thumbnail">
				</div>
				</div>
		</div>
		
<% include ../partials/footer %>


