<% include ../partials/header %> 
    <div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Shortput</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/images%20(1).jpg?alt=media&token=65c71113-6f20-4d0a-afd3-c45cb9e20809" class="img-thumbnail">
				</div>
				</div>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Lemon and Spoon</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/Lemon%20and%20Spoon.jpg?alt=media&token=ebd7523d-b32e-40e2-a224-33eecff4954d" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Sack Race</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/sack-race.jpg?alt=media&token=9a9e2779-a3c0-4b07-8417-8653f2912fe7" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Crack the code</h4>
					<img src="https://media.istockphoto.com/vectors/security-concept-vector-id695585876?k=6&m=695585876&s=612x612&w=0&h=pZPy0g4zzpn90BxgPIcJD34DTJ8jfMYv_UjK90V4rG4=" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">General Quiz</h4>
					<img src="https://thumbs.dreamstime.com/z/quiz-icon-trendy-flat-vector-white-background-general-collection-illustration-can-be-use-web-mobile-eps-130335468.jpg" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Mock Placement</h4>
					<img src="https://www.careerlauncher.com/blogs/wp-content/uploads/2016/05/Personal-Interview_770x494.jpg" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Riddle Solving</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/Riddle%20solving.jpg?alt=media&token=7721720f-da15-4c6e-beb4-75ad861569ee" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Gym Wit</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/ed240f378d3f49ebf5a3dd9239856bd3-plank-crossfit-silhouette.png?alt=media&token=e6f13e31-722a-4e97-93d6-e8f16a7f0fe7" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Lazy Dance</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/lazy%20dance.png?alt=media&token=7f8c3d26-f741-40ec-a3b8-98e4eb15046d" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Ramp</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/ramp.png?alt=media&token=068a603a-7af5-422a-96d3-f7b7b1f6b2af" class="img-thumbnail">
				</div>
				</div>
		</div>
<% include ../partials/footer %>

