<% include ../partials/header %> 
    <div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Cricket(finals)</h4>
					<img src="https://cdn5.vectorstock.com/i/1000x1000/56/84/abstract-cricket-background-vector-4585684.jpg" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Athletics</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/athlete-clipart-8866.png?alt=media&token=791267f5-8897-4f4d-ac58-e7422ebe850f" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Marathon</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/images.png?alt=media&token=c183c693-e081-4f4e-aedb-2c9f8751a3d6" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Bridal Makeup</h4>
					<img src="https://img3.stockfresh.com/files/s/sanjanovakovic/m/32/4566499_stock-vector-eyes-makeup-vector-set.jpg" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">QR hunt</h4>
					<img src="https://s3-eu-west-1.amazonaws.com/qrstuff/file/20180725/111154/789f855b8c514ba9/wifi_qrcode.png" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Cook without fire</h4>
					<img src="https://as1.ftcdn.net/jpg/01/95/02/74/500_F_195027424_hM7ti5BTaKS7SWoDkvfmfDDm1yo5oBeM.jpg" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Tug of War</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/images%20(1).png?alt=media&token=8a4369b8-66be-4143-9b42-b59cfd802458" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Captain's event</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/captain.jpg?alt=media&token=d44f8f98-4b43-4e7c-ba3f-1f6afd5c6993" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Dance</h4>
					<img src="https://previews.123rf.com/images/weter777/weter7771412/weter777141200003/34294765-breakdance-silhouette-break-dance.jpg" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Closing Ceremony</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/closeing.jpg?alt=media&token=747a5464-eda7-4f17-84c9-ec50d9c1a7de" class="img-thumbnail">
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Dj Night</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/dj.jpg?alt=media&token=9b99b1d1-76d4-42a8-bd63-2677b0eb1948" class="img-thumbnail">
				</div>
				</div>
		</div>
<% include ../partials/footer %>