<% include ../partials/header %>
   <div class="row">
   	<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Street Play</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/Street%20play%20pic.png?alt=media&token=92bee560-0d2c-4b90-8a78-d9f3dd3862d4" class="img-thumbnail">
				</div>
				</div>
   		<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Singing</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/IMG-20190402-WA0017.jpg?alt=media&token=418c5f14-6a71-4cd2-b359-89ff0c3c4677" class="img-thumbnail">
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Football</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/IMG-20190402-WA0018.jpg?alt=media&token=ccfca5a4-1a7d-48aa-b970-0cbd0e2e5119" class="img-thumbnail">
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Badminton</h4></h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/IMG-20190402-WA0020.jpg?alt=media&token=d9f127ad-a60b-4e8d-b667-8ef48ad8fb08" class="img-thumbnail">
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Football</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/IMG-20190402-WA0019.jpg?alt=media&token=ab3ec38d-9d4c-4c56-bce2-6e00a292983b" class="img-thumbnail">
				</div>
				</div>
   		<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Air Crash</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/IMG-20190402-WA0000.jpg?alt=media&token=f7e4d137-e7bc-4e39-9be2-bdd1799e8fd6" class="img-thumbnail">
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Football</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/IMG-20190402-WA0011.jpg?alt=media&token=3937a767-27a4-4eef-b8b2-21edb47ed1e7" class="img-thumbnail">
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Singing</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/IMG-20190402-WA0012.jpg?alt=media&token=e45c7f03-a1a6-49d8-975b-eac97f2d723e" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Badminton</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/IMG-20190401-WA0011.jpg?alt=media&token=10dc5bfc-3f10-440e-a8a5-f19cecc732e2" class="img-thumbnail">
				</div>
				</div>
			
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">HOLI</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/IMG-20190326-WA0000.jpg?alt=media&token=a64f4859-077f-4aac-9eb1-821ea934fe73" class="img-thumbnail">
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Inauguration</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/IMG-20190330-WA0027.jpg?alt=media&token=b32999de-c616-4e5d-b402-001532622566" class="img-thumbnail">
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Basketball</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/IMG-20190330-WA0026.jpg?alt=media&token=99875161-bfe6-4941-93e9-4698e01d8d21" class="img-thumbnail">
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Basketball</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/basketball1.png?alt=media&token=986c7c5d-d847-4f2a-ab11-92d9fa40e6fa" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">PC Game</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/IMG-20190331-WA0000.jpg?alt=media&token=df5868fc-f823-413e-b84b-5040b6b32277" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Cricket</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/IMG-20190401-WA0006.jpg?alt=media&token=b69a90f7-daab-4357-806b-50c4dbd0e4a5" class="img-thumbnail">
				</div>
				</div>
					<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Tatto Making</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/IMG-20190401-WA0012.jpg?alt=media&token=37c8820e-778c-4748-8b03-89c39b3af38f" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Best out of Waste</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/IMG-20190401-WA0007.jpg?alt=media&token=e61c7c63-0504-4652-acd7-c78cd3ac3663" class="img-thumbnail">
				</div>
				</div>
				
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Basketball</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/IMG-20190401-WA0013.jpg?alt=media&token=80caacce-a2ac-47fb-98bc-ea1f2c10327b" class="img-thumbnail">
				</div>
				</div>
				<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
				<h4 style="text-align:center; color:black; font-family: 'Averia Serif Libre', cursive; font-size:25px;">Basketball</h4>
					<img src="https://firebasestorage.googleapis.com/v0/b/nsrcel-hackathon-1753d.appspot.com/o/IMG-20190401-WA0015.jpg?alt=media&token=40b5c885-a890-4d41-b8b0-a54c0caf3a1f" class="img-thumbnail">
				</div>
				</div>
				</div>


<% include ../partials/footer %>
